<div class="page-width">
  45679
</div>

{% schema %}
  {
    "name": "Image get links",
    "tag": "section",
    "class": "section",
    "settings": [],

    "presets": [
      {
        "name": "Image get links"
      }
    ]
  }
{% endschema %}